%h3= "#{@hub.name}'s hub change report:"

%p Changes:
%table
  %thead
    %tr
      %th Attribute
      %th was
      %th is now
  %tbody
    - @hub.changes.each do |change|
      %tr
        %td= change[0]
        %td= change[1][0]
        %td= change[1][1]
