= "The current round of #{@round.server.host} ended today"

= "Server: #{@server.host}"

= "Name: #{@server.name}"
= "Code: #{@server.code}"
= "Host: #{@server.host}"
= "Speed: #{@server.speed}"
= "World ID: #{@server.world_id}"
= "Started: #{l @round.start_date}"
= "Ended: #{l @round.end_date}"
