= @subject

Server:

= "Name: #{@server.name}"
= "Code: #{@server.code}"
= "Host: #{@server.host}"
= "Speed: #{@server.speed}"
= "Start Date: #{@server.start_date}"
= "End Date: #{@server.end_date}"
= "Version: #{@server.version}"
= "World ID: #{@server.world_id}"
