= "A new round of #{@round.server.host} is starting on #{@round.start_date}"

Server:

= "Name: #{@round.server.name}"
= "Code: #{@round.server.code}"
= "Host: #{@round.server.host}"
= "Speed: #{@round.server.speed}"
= "World ID: #{@round.server.world_id}"
