= "A new round of #{@server.host} is starting on #{l @round.start_date}"

= "Server: #{@server.host}"

= "Name: #{@round.server.name}"
= "Code: #{@round.server.code}"
= "Host: #{@round.server.host}"
= "Speed: #{@round.server.speed}"
= "World ID: #{@round.server.world_id}"
