.container
  .row
    .col-md-12
      %h2 Travian Servers Information
  .row
    .col-sm-12.col-md-6
      .row
        .col-md-12
          %h3
            Most recently started servers
            %span.badge= @recently_started_servers_count
          %p.text-muted Travian servers just started, recommended to start playing now.
      .row
        - @recently_started_servers.each do |server|
          = render server
        .col-sm-12.col-lg-6
          .well
            = link_to "See all recently started servers", recently_started_servers_path
    .col-sm-12.col-md-6
      .row
        .col-sm-12
          %h3
            New Servers
            %span.badge= @restarting_servers_count
          %p.text-muted The list of Travian servers with future announced starting dates.
      .row
        - @last_restarting_servers.each do |server|
          = render server
        .col-sm-12.col-lg-6
          .well
            = link_to "See all new servers", scheduled_servers_path