%article.article.container
  %p
    = image_tag "flags/32/#{@server.hub.code}.png", size: '32x32', alt: @server.hub.name, title: @server.hub.name
    = link_to @server.name, server_path(@server)
    = link_to '#', "http://#{@server.host}"
    %span= "(#{@server.speed}x)"
  %h3 Rounds
  - @server.rounds.each do |round|
    %p
      = round.start_date.to_s(:short)
      &nbsp;&dash;&nbsp;
      = round.end_date ? round.end_date.to_datetime.to_s(:short) : 'yet to end'
