= form_for @user do |f|
  - if @user.errors.any?
    %div.error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .control-group
    = label_tag :email, 'Email:', :class => 'control-label'
    = text_field_tag :email, params[:email], :class => 'control', :type => 'email'
  .control-group
    = f.label :password, 'Password:', :class => 'control-label'
    = f.password_field :password, :class => 'control'
  .control-group
    = f.label :password_confirmation, 'Password confirmation:', :class => 'control-label'
    = f.password_field :password_confirmation, :class => 'control'
  .control-group
    = label_tag :submit, '', :class => 'control-label'
    = submit_tag 'Sign up'
