= form_for @user do |f|
  .control-group
    = f.label :name, 'Full Name'
    = f.text_field :name, :class => 'control'
    - unless @user.errors[:name].empty?
      %p.error= @user.errors.messages[:name]
  .control-group
    = label_tag :email
    = text_field_tag :email, params[:email], :class => 'control', :type => 'email'
    - unless @user.errors[:emails].empty?
      %p.error= @user.errors.messages[:emails][1]
  .control-group
    = f.label :password
    = f.password_field :password, :class => 'control'
    - unless @user.errors[:password].empty?
      %p.error= @user.errors.messages[:password].first
    %p Tip: Must have at least 8 characters.
  .control-group
    = submit_tag 'Sign up', :class => 'button primary'
