= form_for @user do |f|
  - unless @user.errors.empty?
    %p.error.form= "There were problems creating your account." unless @user.errors.empty?
  .control-group
    = f.label :name, 'Full Name'
    = f.text_field :name, :class => 'control'
    - unless @user.errors[:name].empty?
      %p.error.attr= @user.errors.messages[:name]
  .control-group
    = f.label :email
    = f.text_field :email, :class => 'control', :type => 'email'
    - unless @user.errors[:email].empty?
      %p.error.attr= @user.errors.messages[:email].first
  .control-group
    = f.label :password
    = f.password_field :password, :class => 'control'
    - if @user.errors[:password].empty?
      %p Tip: Must have at least 8 characters.
    - else
      %p.error.attr= @user.errors.messages[:password].first
  .control-group
    = submit_tag 'Sign up', :class => 'button primary'
