= form_for @user do |f|
  .control-group
    = f.label :name, 'Full Name'
    = f.text_field :name, :class => 'control'

    = @user.errors.messages[:name] unless @user.errors[:name].empty?
  .control-group
    = f.label :email
    = f.text_field :email, :class => 'control', :type => 'email'
    = @user.errors.messages[:email] unless @user.errors[:emails].empty?
  .control-group
    = f.label :password
    = f.password_field :password, :class => 'control'
    = @user.errors.messages[:password] unless @user.errors[:password].empty?
    %p Tip: Must have at least 8 characters.
  .control-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'control'
  .control-group
    = submit_tag 'Sign up', :class => 'button primary'
