- content_for(:title) { 'Dashboard' }
%article#article.container
  %h2= @current_user.handle

  %div.account_info
    %p
      Name:
      = @current_user.name
    %p
      Username:
      = @current_user.username
    %p
      Email:
      = @current_user.email
    %p
      Registered at:
      = @current_user.created_at
    %p
      Seen:
      = "#{@current_user.sign_in_count} times"
    %p
      Last seen:
      = @current_user.last_sign_in_at
