%article#article.welcome
  .container
    = form_for @user do |f|
      .control-group
        = f.text_field :name, :class => 'control', :placeholder => 'Full Name'
      .control-group
        = text_field_tag :email, params[:email], :class => 'control', :type => 'email', :placeholder => 'Email'
      .control-group
        = f.password_field :password, :class => 'control', :placeholder => 'Password'
        %p Tip: Must have at least 8 characters.
      .control-group
        = submit_tag 'Sign up', :class => 'button primary'

    %h1.heading Get notifications from your Travian account.
    %h2.subheading Know when you are being attacked, your troops are near starvation or your warehouse is near capacity limit.
