%article.article.container
  - @hub.servers.each do |server|
    %p
      = image_tag "flags/32/#{server.hub.code}.png", size: '32x32', alt: server.hub.name, title: server.hub.name
      = link_to (server.name || server.code).humanize, server_path(server)
      = link_to '#', "http://#{server.host}"
      %span= "(#{server.speed}x)"
