!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Travnoty.com"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header#header
      .wrap
        = link_to(root_url, :class => 'travnoty-logo') do
          = image_tag 'travnoty_logo_2.png', size: '160x45'
        %nav#nav
          = render 'layouts/navigation'
        = render 'layouts/profile'
    %article#content.center
      #messages.center
        = render 'layouts/messages'
      = yield
    %footer#footer.center
      = render 'layouts/footer'