.box.left.menu
  .box-header
    %h3= user.handle
  .box-content
    %nav.nav
      %ul.block.menu
        = nav_link "Account Settings", account_path
        = nav_link "Travian Accounts", travian_accounts_path
        = nav_link "Notifications", account_notifications_path
        = nav_link "Billing", account_billing_path
        = nav_link "Payment History", account_payments_path
