%ul.nav.nav-tabs.nav-stacked
  %li= user.handle
  %li= nav_link "Account Settings", account_path
  %li= nav_link "Travian Accounts", travian_accounts_path
  %li= nav_link "Notifications", account_notifications_path
  %li= nav_link "Billing", account_billing_path
  %li= nav_link "Payment History", account_payments_path
