.header
  %h2
    = image_tag "flags/32/#{account.hub.code}.png", size: '32x32', alt: account.hub.name, title: account.hub.name
    = link_to account.server.host, "http://#{account.server.host}/dorf1.php"
.content
  %p
    %span.bold Username:
    %span= account.username
  %p
    %span.bold Valid until:
    %span= account.created_at + 5.days
